id-server/src/main/mule/id-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider"
      xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http" xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost"
                                  port="8081"/>
    </http:listener-config>

    <oauth2-provider:config name="OAuth2Provider"
                            providerName="Test OAuth2Provider"
                            resourceOwnerSecurityProvider="resourceOwnerSecurityProvider"
                            clientSecurityProvider="clientSecurityProvider"
                            listenerConfig="listenerConfig"
                            clientStore="clientObjectStore"
                            scopes="GUEST,USER,ADMIN"
                            defaultScopes="USER">
        <oauth2-provider:token-config tokenStore="tokenObjectStore">
            <oauth2-provider:refresh-token-strategy>
                <oauth2-provider:multiple-refresh-tokens/>
            </oauth2-provider:refresh-token-strategy>
        </oauth2-provider:token-config>
        <oauth2-provider:authorization-config loginPage="static/auth.html"
                                              authorizationCodeStore="authorizationCodeObjectStore"/>
        <oauth2-provider:clients>
            <oauth2-provider:client clientId="clientId1"
                                    secret="clientSecret1"
                                    principal="clusr"
                                    type="CONFIDENTIAL" clientName="clientApp" description="web application for testing">
                <oauth2-provider:client-redirect-uris>
					<oauth2-provider:client-redirect-uri value="http://localhost:8081/callback" />
                </oauth2-provider:client-redirect-uris>
            </oauth2-provider:client>
        </oauth2-provider:clients>
    </oauth2-provider:config>

    <os:object-store name="clientObjectStore"
                     persistent="true"/>
                     
    <os:object-store name="authorizationCodeObjectStore"
                     entryTtl="600"
                     entryTtlUnit="SECONDS"
                     persistent="true"/>
                     
    <os:object-store name="tokenObjectStore"
                     entryTtl="86400"
                     entryTtlUnit="SECONDS"
                     persistent="true"/>

    <http:listener-config name="HTTP_Listener_config_8080" doc:name="HTTP Listener config" doc:id="b66c426c-38ac-4b53-a140-e2e115bce4e3" >
		<http:listener-connection host="0.0.0.0" port="8080" />
	</http:listener-config>
	<flow name="id-serverFlow1" doc:id="dbbefa4e-7b71-4430-890d-7259f908d8d3" >
		<http:listener doc:name="Listener" doc:id="5dcb2059-8565-40a6-bcc2-ffede0882a8f" config-ref="listenerConfig" path="/ping"/>
		<oauth2-provider:validate-token doc:name="Validate" doc:id="be5ac3c3-bb4f-40c2-afad-e015408ca51e" config-ref="OAuth2Provider" accessToken="#[(attributes.headers['authorization'] default &quot;&quot; splitBy ' ')[1]]"/>
		<ee:transform doc:name="Transform Message" doc:id="51bdc059-5513-4eb5-bf22-b017bd981f9c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"ok": true
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="id-serverFlow3" doc:id="c8ffd495-0b82-4d5a-98d4-4297153e7343" >
		<http:listener doc:name="/validate" doc:id="56a58e27-3f53-449f-b8ab-af192c8eb30b" config-ref="listenerConfig" path="/validate"/>
		<oauth2-provider:validate-token doc:name="Validate token" doc:id="bc3ac99e-6332-426f-9daf-9fcfafe96c2d" config-ref="OAuth2Provider"/>
		<ee:transform doc:name="Transform Message" doc:id="9f05d031-1b77-4fec-895d-7425b4fed3ae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="id-serverFlow2" doc:id="59c10604-5141-4e6b-b6dd-dbb48bf361fe" >
		<http:listener doc:name="CALLBACK" doc:id="0138b22a-f106-4851-895a-cca4747a13f7" path="/callback" config-ref="listenerConfig"/>
		<logger level="INFO" doc:name="Logger" doc:id="dfe70d42-99b4-4237-b82c-ff0152827a19" message="output application/json --- payload"/>
	</flow>
	<flow name="id-serverFlow" doc:id="657feae8-315b-4799-83de-c53d5bf80c32" >
		<http:listener doc:name="Listener" doc:id="c5f93773-9680-4608-8bf8-08158c625769" config-ref="HTTP_Listener_config_8080" path="/ping"/>
		<logger level="INFO" doc:name="Logger" doc:id="457a942f-b7a6-499c-b9a9-eca9f385b9c8" />
	</flow>

</mule>